@import "./contacts.scss";

main {
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row: 2;

  .help ul {
    list-style-type: none;
    padding: 0;

    li a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 24px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      position: relative;

      img {
        width: 72px;
        height: 72px;

        &.arrow {
          display: block;
          position: absolute;
          right: 0;
          width: 15px;
        }
      }
      p {
        margin-left: 10px;
        margin-right: 32px;
      }
    }
  }
}
