.contacts-info {
  .payment {
    display: none;
    h6 {
      font-weight: normal;
    }
    p {
      line-height: 22px;
    }
  }
  .contacts {
    line-height: 24px;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      &.address {
        margin: 1rem 0;
      }
      a {
        font-size: 16px;
        text-decoration: underline;
      }
    }
    margin: 1rem 0;
  }

  .download-payments {
    margin: 1rem;
    a {
      display: flex;
      align-items: center;
      span {
        margin-left: 10px;
      }
    }
  }
  @media (min-width: 1100px) {
    .contacts-block {
      border: 2px solid #367c83;
      border-radius: 25px;
      margin-top: 48px;
      .contacts {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        div {
          margin: 0;
        }
      }
      .payment {
        display: block;
        margin-top: 1.5rem;
      }
    }
    .map {
      margin-top: 14px;
    }
  }
}
