@import "./contacts.scss";

main {
  @media (min-width: 1170px) {
    margin-left: 350px;
  }
  display: grid;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row: 2;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;

  > section {
    grid-column-start: 2;
    grid-column-end: 12;
    margin-top: 48px;

    &.help {
      li a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 24px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        position: relative;

        img {
          width: 72px;
          height: 72px;

          &.arrow {
            display: block;
            position: absolute;
            right: 0;
            width: 15px;
          }
        }
        p {
          margin-left: 10px;
          margin-right: 32px;
        }
      }
    }
  }
}
