.contacts-info {
  .payment {
    background: #367c83;
    p {
      color: #fff;
      padding: 12px;
      text-align: center;
    }
  }
  .contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    padding-top: 24px;
    @media (max-width: 640px) {
      display: block;
      div {
        margin-bottom: 10px;
      }
    }
    div {
      display: flex;
      flex-direction: column;
      span {
        font-family: "Roboto", sans-serif;
        color: #37434a;
      }
      a {
        font-size: 18px;
        text-decoration: underline;
      }
    }
    p {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .tel {
      grid-column: 1;
    }
    .mail {
      grid-column: 2;
    }
  }
  @media (min-width: 1440px) {
    .contacts-block {
      grid-template-columns: repeat(9, 1fr);
      display: grid;
      border: 2px solid #367c83;
      border-radius: 25px;
      overflow: hidden;
      .contacts {
        grid-column-start: 1;
        grid-column-end: 6;
      }
      .payment {
        grid-column-start: 6;
        grid-column-end: 10;
      }
    }
    .map {
      margin-top: 14px;
    }
  }
}
