@import "./contacts.scss";

main {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;

  > section {
    grid-column-start: 2;
    grid-column-end: 12;
    margin-top: 3.5rem;

    &.about {
      p {
        margin-bottom: 0;
      }
    }

    &.help {
      li {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 24px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        position: relative;
        .arrow {
          display: block;
          position: absolute;
          right: 0;
          width: 15px;
        }
        p {
          margin-left: 10px;
          margin-right: 32px;
        }
      }
      span {
        display: block;
        margin-top: 1rem;
      }
    }

    &#description img {
      display: none;
    }
  }

  @media (min-width: 900px) {
    margin-left: 350px;
  }
  @media (min-width: 1440px) {
    h1,
    h2,
    h3,
    p,
    a,
    span {
      text-align: center;
    }
    h2 {
      grid-column-start: 3;
      grid-column-end: 11;
    }
    > section {
      position: relative;
      grid-column-start: 1;
      grid-column-end: 13;
      margin-left: 38px;
      margin-right: 38px;
      &::after {
        content: "";
        position: absolute;
        display: block;
        border-top: 2px solid #367c83;
        width: 70%;
        bottom: -3rem;
        left: 15%;
      }
      &.help {
        h3 {
          font-weight: 200;
          color: #37434a;
          position: absolute;
          padding: 0 10px;
          top: -25px;
          left: 24%;
          right: 24%;
          background: #f5f5f5;
          margin: 0;
          font-family: "Open Sans", sans-serif;
          font-size: 24px;
        }
        .help-kind {
          border: 2px solid #367c83;
          border-radius: 25px;
          margin-top: 48px;
          position: relative;
          ul {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: repeat(3, 1fr);
            padding: 48px;
            margin: 0;
            li {
              padding: 24px 24px 0 24px;

              flex-direction: column;
              border-bottom: 0;
              img.arrow {
                display: none;
              }

              p {
                font-size: 15px;
                margin: 24px 0 10px 0;
              }
            }
          }
        }
      }
      &#description {
        p {
          text-align: justify;
        }
        img {
          display: block;
          float: right;
          max-width: 750px;
          width: 100%;
          margin: 0 0 1rem 1rem;
        }
      }
    }
  }
}
