footer {
  @media (min-width: 1170px) {
    display: none;
  }
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row: 3;
  background: #1c4549;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 11px;
  line-height: 12px;
  padding: 12px 10px;
  hr {
    background-color: rgba(255, 255, 255, 0.4);
    border: 0;
    height: 2px;
    width: 90%;
    margin: 12px auto;
  }
}
