header.header {
  @media (min-width: 900px) {
    display: none;
  }
  grid-column-start: 1;
  grid-column-end: 13;

  .header-nav {
    background: #1c4549;
    padding: 0 8%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    .tel {
      font-size: 20px;
      line-height: 48px;
      margin: 0;
      color: #fff;
      text-align: center;
      text-decoration: none;
    }
  }
  .header-content {
    background: #6c9ea1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    margin-top: 48px;

    .social {
      @media (min-width: 640px) {
        display: flex;
      }
      display: none;
      justify-content: center;
      align-items: center;
      a {
        margin: 0 10px;
      }
    }
  }
}
