.logo {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.3;
  font-size: 0.9rem;
  cursor: pointer;
  img {
    height: 2.5rem;
    margin-right: 0.4rem;
  }
  .title {
    border-bottom: 1px solid;
  }
  .upper {
    text-transform: uppercase;
  }
  @media (max-width: 900px) {
    font-size: 0.8rem;
    img {
      height: 2.1rem;
      margin-right: 0.4rem;
    }
  }
}
