@import "./normalize.css";
@import "./header.scss";
@import "./content.scss";
@import "./footer.scss";
@import "./sidebar.scss";

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f5;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
p,
a {
  color: #37434a;
}

h1,
h2 {
  letter-spacing: 5px;
  text-transform: uppercase;
}

p {
  line-height: 24px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
