section.side {
  @media (max-width: 900px) {
    display: none;
  }
  position: fixed;
  top: 0;
  width: 350px;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  display: grid;
  background: url(../static/overlay.png),
    url(../static/sidebar_background.jpg) no-repeat;
  background-size: cover;
  .photo {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: 2;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .overlay {
      background: rgba(91, 132, 134, 0.6);
      height: 32px;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
  .phone {
    background: rgba(0, 0, 0, 0.4);
    grid-row: 3;
    border-radius: 15px;
    grid-column-start: 2;
    grid-column-end: 12;
    flex-direction: column;
    display: flex;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    margin: 0.5rem 0;
    justify-content: space-evenly;
    align-self: center;
    span {
      text-transform: uppercase;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      font-size: 0.9rem;
      padding: 0.5rem 0;
      line-height: 1.3;
    }
    a {
      font-size: 24px;
      color: #fff;
      padding: 0.5rem 0;
      @media (max-height: 800px) {
        font-size: 1.2rem;
      }
    }
  }
  nav {
    grid-row: 4;
    grid-column-start: 2;
    grid-column-end: 12;
    flex-direction: column;
    display: flex;
    li,
    a {
      color: #fff;
      letter-spacing: 2px;
      padding: 0.8rem 0;
      border-bottom: 2px solid rgba(255, 255, 255, 0.3);
      font-size: 0.9rem;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
      &:last-child {
        border-bottom: 0;
      }
      &:hover {
        text-decoration: underline;
      }
      @media (max-height: 800px) {
        margin: 0;
        padding: 0.5rem 0;
        font-size: 0.8rem;
      }
    }
  }
  footer {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 10px 0;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: 7;
    .social {
      margin-bottom: 0.5rem;
      a {
        margin: 0 10px;
      }
    }
    @media (max-height: 800px) {
      display: none;
    }
  }
}
